RewriteEngine On
RewriteBase /garagealpin/

# Enlever index.html -> /garagealpin/
RewriteCond %{THE_REQUEST} \s/garagealpin/index\.html [NC]
RewriteRule ^ /garagealpin/ [R=301,L,NE]

# Enlever .html pour les autres pages (ex: equipe.html -> equipe)
RewriteCond %{THE_REQUEST} \s/garagealpin/([^.]+)\.html [NC]
RewriteRule ^ %1 [R=301,L,NE]

# Ajouter .html en interne de façon transparente
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]
